
.main__proyects, .main__about, .main__contact{
    padding: 50px 0;
}

.proyects__title{
    margin-top: 1rem;
}

.proyects__row{
    flex-wrap: wrap;
}


/* About */

.about__p, .about__title__exp{
    text-align: center;
}

.about__row{
    flex-wrap: wrap;
}

.about__experience, .about__me{
    width: 100%;
    padding-left: 0px;
}

.about__title__abtm{
    margin-top: 20px;
}

/* Contact */

.main__contact{
    padding: 50px 0;
}

.contact__row{
    flex-wrap: wrap;
}

.contact__icon{
    width: 100%;
    text-align: center;
    margin: 1rem;
}

