@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Roboto:ital,wght@0,400;1,300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.proyects__title, .about__title, .contact__title{
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: #575757;
  text-shadow: 2px 2px rgb(192, 192, 192);
  margin-bottom: 3rem;
}

.about__title__exp, .about__title__abtm{
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-weight: 300;
}

.about__p, .footer__p{
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.7rem;
}

.nav__link, .nav__logo, .showcase__link, .showcase__link, .contact__link{
  text-decoration: none;
}

/* Utility Clases */

.container__nav, .container__showcase, .container__proyects, .container__about, .container__contact, .container__footer{
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.text{
  font-size: 20px;
}

.btn__img{
  display: inline-block;
  width: 80px;
  background: transparent;
}

.btn__img:hover{
  background-color: aliceblue;
  border-radius: 50px;
}

/* NavBar */

.header__nav{
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__logo{
  float: left;
  padding-top: 12px;
  color: black;
}

.nav__img{
  height: 66px;
  border-radius: 20px;
}

.nav__ul{
  list-style: none;
  float: right;
}

.nav__li{
  float: left;
}

.nav__link{
  color: black;
  margin: 10px;
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}

.nav__link:hover{
  color: white;
  background-color: #000000;
}

/* ShowCase */

.main__showcase{
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
  padding: 100px;
}

.btn__img{
  margin-top: 230px;
}

/* Proyects */

.container__proyects{
  padding: 80px 0;
}

.proyects__row{
  display: flex;
}

.proyects__row__datail{
  margin: .5rem;
}

.proyects__img{
  width: 100%;
  height: 90%;
}

/* About */

.main__about{
  padding: 80px 0;
  background: #f9f9f9;
}

.about__row{
  display: flex;
}

.about__experience, .about__me{
  text-align: center;
  width: 50%;
  padding-left: 50px;
}

/* Contact */

.main__contact{
  padding: 80px 0;
}

.contact__row{
  display: flex;
}

.contact__icon{
  width: 50%;
  text-align: center;
  margin: 1rem;
}

.contact__img{
  height: 200px;
}

.contact__map{
  width: 100%;
}

.contact__form{
  width: 300px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.form__input, .form__textarea{
  width: 100%;
  margin-bottom: 10px;
  padding: 7px;
  font-size: 15px;
  border: none;
}

.form__boton{
  width: 50%;
  color: white;
  background-color: #000000;
}

/* Footer */

.footer{
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
}