.proyects, .about, .contact{
    padding: 50px 0;
}

.proyects__container h2{
    margin-top: 1rem;
}


/* About */

.about p, .about h4{
    text-align: center;
}

.about__row{
    flex-wrap: wrap;
}

.about__row__experience, .about__row__me{
    width: 100%;
    padding-left: 0px;
}

/* Contact */

.contact{
    padding: 50px 0;
}

.contact__row{
    flex-wrap: wrap;
}

.contac__row__icon{
    width: 100%;
    text-align: center;
    margin: 1rem;
}

.contac__row__icon img{
    height: 150px;
    border-radius: 30px;
}

.contac__row__icon iframe{
    width: 100%;
}